TWILIO_ACCOUNT_SID=<Obtain from Twilio Console>
TWILIO_AUTH_TOKEN=<Obtain from Twilio Console>
SENDGRID_API_KEY=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
EMAIL_DOMAIN=parse.<yourdomain>.com
TO_EMAIL_ADDRESS=<shared Inbox>@<yourdomain>.com
TWILIO_PHONE_NUMBER=<SMS Capable Twilio Number>
